body{
    background-color: #a97d9251;
    background-attachment: fixed; 
    background-size:cover; 
    height: 500px;
}
h1{
    color: rgba(122, 90, 108, 0.783);
}
button {
    background-color: rgba(122, 90, 108, 0.783);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    margin: 5px;
}
